<!DOCTYPE html>
<html lang="en-US">
  <head>
    <!-- Google tag (gtag.js) -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-FDR1KPQFHT"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-FDR1KPQFHT");
    </script>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="author" content="Javier Garcia" />
    <meta
      name="description"
      content="I am not really a great cook, but I like to pretend I am."
    />
    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://recipes.javiergarcia.io" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Recipes collected by Javi" />
    <meta
      property="og:description"
      content="I am not really a great cook, but I like to pretend I am."
    />
    <meta property="og:image" content="" />

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:domain" content="recipes.javiergarcia.io" />
    <meta property="twitter:url" content="https://recipes.javiergarcia.io" />
    <meta name="twitter:title" content="Recipes collected by Javi" />
    <meta
      name="twitter:description"
      content="I am not really a great cook, but I like to pretend I am."
    />
    <meta name="twitter:image" content="" />
    <title>{{ title | default: " Home" }} | Recipes collection</title>
    <style>
      * {
        box-sizing: border-box;
        position: relative;
      }

      body {
        font-family: sans-serif;
        font-size: 20px;
        line-height: 1.5;
      }

      img {
        max-width: 100%;
        width: 100%;
      }

      main {
        margin: 0 auto;
        max-width: 600px;
        padding: 0.5em;
      }

      nav {
        margin: 0 auto;
        max-width: 600px;
        padding: 0.5em;
      }
    </style>
  </head>

  <body>
    <nav><a href="/">Home</a></nav>
    <main>{{ content }}</main>
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script>
      if (window.netlifyIdentity) {
        window.netlifyIdentity.on("init", (user) => {
          if (!user) {
            window.netlifyIdentity.on("login", () => {
              document.location.href = "/admin/";
            });
          }
        });
      }
    </script>
  </body>
</html>
