---
layout: layouts/default.html
eleventyExcludeFromCollections: true
---
<h1>Javi's Recipes</h1>
{% for tag in collections.tagsList %}
  <h2>{{ tag | capitalize }}</h2>
  <ul>
    {%- for post in collections[tag] -%}
      <li><a href="{{post.url}}">{{ post.data.title }}</li></a>
    {%- endfor -%}
  </ul>
{% endfor %}
